* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #272626;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted #000;
    padding-right: 50px;
}

.menu .menu_item:last-child {
    border-right: none;
}

.subheader {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_offitial {
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
}

.subheader .subheader_call {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url(../img/promo_bg.png) center center/cover no-repeat;
}

.promo .promo_header {
    margin: 0;
    margin-top: 40px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 22px;
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
}

.promo .promo_descr {
    margin: 0;
    margin-top: 23px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 260px;
    height: 65px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
}

.advantages {
    min-height: 900px;
}

.advantages .advantages_header {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 110px;
    height: 25px;
    font-size: 11px;
    font-weight: 300;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 3px;
}

.advantages .advantages_subheader {
    margin: 0;
    margin-top: 35px;
    color: black;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
}

.advantages .advantages_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 25px auto 35px;
    width: 115px;
    height: 115px;
    background-color: #1facc7;
    border-radius: 50%;
    text-align: center;
}

.advantages .advantages_img {}

.advantages .advantages_tegs {
    display: flex;
    margin: 0;
    margin-top: 40px;
}

.advantages .advantages_descr, .advantages span {
    display: block;
    margin: 0;
    padding: 0;
    width: 340px;
    font-size: 15px;
    line-height: 21px;
    float: none;
    text-align: justify;
}

.advantages span {
    color: #409db4;
    font-size: 17px;
    line-height: 21px;
    float: none;
}

.col-md-6 {
    display: flex;
    padding-bottom: 35px;
}